.static {
    position: static;
    background-color:#378CE7;
    color: #DDF5FF;
    margin: 5px;
    padding: 10px;
    border:5px solid#67C6E3
}
.relative {
    position: relative;
    left: 0px;
    top: 0px;
    background-color:#378CE7;
    color: #DDF5FF;
    margin: 10px;
    padding: 10px;
    border:5px solid#67C6E3

}
.absolute {
    position: absolute;
    top: 50px;
    left: 10%;
    width: auto;
    height: auto;
    background-color:#378CE7;
    color: #DDF5FF;
    padding: 5px;
    border:10px solid#67C6E3
}
.fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color:#378CE7;
    color: #DDF5FF;
    width: 100%;
    padding: 10px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    padding: 5px;
    width: auto;
    height: auto;
    background-color:#378CE7;
    color: #DDF5FF;
    border: 5px solid #67C6E3;
    padding: 10px;
}
