h1 {
    font-size: 30px;
    color:maroon;
    font-family:Georgia;
}

label {
    background-color: rgb(0, 255, 255);
    
}

#userlabel {
    font-size:18px;
    color:rgb(204, 0, 255)


}

#passlabel {
    font-size:20px;
    color:rgb(204, 0, 255);
    font-family: monospace;
}

.labelClass {
    color:rgb(255, 0, 149);
    font-family: monospace;
}

body {
    background-color:rgb(207, 175, 238);
}

#id {
    font-size:20px;
    color:maroon
   
}